{{#section "head"}}
   <link rel="stylesheet" href="/css/404.css" />
    <title>Page Missing</title>
{{/section}}
{{#section "pageTitle"}}Whoopsie Doopsies{{/section}}

<h1 class="404Header"> Uh oh! Somebody made a whoopsies... you weren't 
    supposed to get here!
</h1>
<a href="/" class="homePageLink">Click here to go back to the home page</a>