

{{#section "head"}}
    <link rel="stylesheet" href="/css/projects.css" />
    <title>Chess Engine - Part 1</title>
{{/section}}
{{#section "pageTitle"}}Chess Engine - Part 1{{/section}}

<div>
  <h1 class="projectTitle">Chess Engine - Part 1</h1>
  <h2 class="dateCompleted"><i>Date Completed: April 25, 2021</i></h2>
  <div id="linkHolder">
      <a class="githubLink" href="https://github.com/JacobEckroth/BetterChess " rel="noopener noreferrer" target="_blank">
        <svg class="githubSVG logoSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
      <a class="youtubeLink" href="https://www.youtube.com/watch?v=kwQk5A26cis" rel="noopener noreferrer" target="_blank">
          <svg class="youtubeSVG logoSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>
      </a>
      
  </div>
 
  <h3 class="sectionHeader">
      Intro
  </h3>
  <p class="projectText">I've loved chess since I was a kid. My sister taught me chess, and after that I made a promise to myself
      that I would beat everyone in my family. It took me a while, and my grandfather was the final boss, but eventually I made it. 
      I remember my dad taking me to chess nights at schools in towns that we didn't even live in and having little ceasers pizza there.
      Albeit, I was not very good but it was a lot of fun to learn and get smashed by everyone there. When I got into programming I decided taught
      I wanted to make a chess engine with a bot that can beat me at chess. While this project does not have artificial intelligence yet, it does have all of
      the functionality that chess needs.
  </p>
  <h3 class="sectionHeader">
      Previous Versions
  </h3>
  <p class="projectText">
      I have attempted to make chess many times. My first attempt was a console app using C++ before I even knew how to work with graphics.
      It failed miserably. While I was able to get the chess board to display, I had no plan for how to set up
      pieces moving, how to take pieces, promoting, checking and checkmate, or really anything. So this is the best that I could do, just a simple image.
  </p>
  <img class=" projectImage" loading='lazy' alt="An image of a console chess app"src="/images/consolechess.png"/>

  <p class="projectText">
      At some point soon after this I discovered <a class="projectLink" href="https://www.libsdl.org/" rel="noopener noreferrer" target="_blank">SDL2</a>.
      SDL2 is great if you want to work with very basic 2D graphics. It's a library that gives you low-level access to graphics hardware,
      the mouse, keyboard, and such using OpenGL. SDL2 is <b>great</b> at drawing rectangles onto the screen. It turns out that rectangles
      are great for chess! Well it's really squares but same difference. So I went in guns blazing, and... it turned out ok?  
  </p>
  <img class="projectImage" loading='lazy' alt="An image of a grpahical window with a basic chess game"src="/images/firstchess.jpg"/>
    <p class="projectText">
        But there were a lot of problems with this version as well. I went in with no plan, and it shows within the code (which I will definitely not be linking here).
        Things such as en-passant didn't work, it was extremely slow, and I wasn't really happy with the result.
    </p>
    <h3 class="sectionheader">
        Better Chess
    </h3> Earlier in 2021, I decided that I wanted to follow through
        and make an actual chess game with all of the functionality working. To do this I would need to actually plan out things, and figure out how all of my objects would be structured.
        While I am not completely happy with the result, in regards to how fast it is at calculating future moves, this part 1 is just for the actual chess funciotnality, which I completely achieved.
        You can watch my video to see the full development process and the final result.
    </p>
    <iframe class="projectVideo"  src="https://www.youtube.com/embed/kwQk5A26cis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3 class="sectionheader">
        Conclusion
    </h3>
    <p class="projectText">
        That's about it! When I get the time I will be adding an AI to my chess engine,
        and likely improving it's speed so the AI can calculate up to 10 nodes down the move tree.
        I hope to see you there!
    </p>


</div>