

{{#section "head"}}
    <link rel="stylesheet" href="/css/projects.css" />
{{/section}}
{{#section "pageTitle"}}Example Project{{/section}}

<div>
  <h1 class="projectTitle">Project Title Here</h1>
  <h2 class="dateCompleted"><i>Date Completed: May 1, 2001</i></h2>
  <div id="linkHolder">
      <a class="githubLink" href="#">
        <svg class="githubSVG logoSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
      <a class="youtubeLink" href="#">
          <svg class="youtubeSVG logoSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>
      </a>
      
  </div>
 
  <h3 class="sectionHeader">
      This is the first section
  </h3>
  <p class="projectText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl sem. Morbi eu fermentum lacus. Pellentesque felis lorem, convallis sed consectetur ac, malesuada sed lectus. Aliquam rutrum neque pretium, vehicula sapien non, laoreet mi. Morbi sit amet vestibulum felis. Aliquam non porta nibh. Donec elementum orci sed efficitur laoreet. Vestibulum in justo metus. Donec vitae mattis est. Donec malesuada dictum purus eu cursus. Cras vel egestas quam. Curabitur vitae hendrerit ligula, sit amet mollis odio. Sed odio nisi, iaculis in nisl sit amet, lobortis maximus turpis. In porta sodales rutrum. Pellentesque nec odio et nulla lobortis egestas.
  </p>
  <p class="projectText">
      Aliquam gravida orci erat, at volutpat lectus tincidunt ac. Nulla vel consectetur augue. Donec viverra velit nec lectus pulvinar scelerisque. Nam aliquet libero a sapien pretium scelerisque. Morbi id commodo diam, vel blandit sem. Fusce lacinia porttitor justo id vestibulum. Donec posuere, ante non porttitor pellentesque, arcu quam ultricies nulla, eget rutrum ligula libero sit amet odio. Duis feugiat a sem ut porttitor. Proin aliquet leo dui, nec efficitur massa pellentesque at. Aenean in molestie nunc. Etiam dictum iaculis dignissim. Phasellus quis efficitur magna. Donec maximus sem sit amet molestie congue. Fusce viverra laoreet tempor. Praesent hendrerit sem sit amet ante convallis commodo. Vivamus malesuada justo nisl, id volutpat risus scelerisque congue.
    

  </p>
  <img class="projectImageThird"alt="here's some alt"src="https://placekitten.com/1000/1000"/>

  <h3 class="sectionHeader">
        This is the second section
    </h3>
  <p class="projectText">
      Aliquam gravida <a class="projectLink" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">This is a link </a> orci erat, at volutpat lectus tincidunt ac. Nulla vel consectetur augue. Donec viverra velit nec lectus pulvinar scelerisque. Nam aliquet libero a sapien pretium scelerisque. Morbi id commodo diam, vel blandit sem. Fusce lacinia porttitor justo id vestibulum. Donec posuere, ante non porttitor pellentesque, arcu quam ultricies nulla, eget rutrum ligula libero sit amet odio. Duis feugiat a sem ut porttitor. Proin aliquet leo dui, nec efficitur massa pellentesque at. Aenean in molestie nunc. Etiam dictum iaculis dignissim. Phasellus quis efficitur magna. Donec maximus sem sit amet molestie congue. Fusce viverra laoreet tempor. Praesent hendrerit sem sit amet ante convallis commodo. Vivamus malesuada justo nisl, id volutpat risus scelerisque congue.
    

  </p>
  <h3 class="sectionHeader">
      This is the final section.
  </h3>
  
    <iframe class="projectVideo16By9" src="https://www.youtube.com/embed/lcIW9ea2mgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
  
   <p class="projectText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nisl sem. Morbi eu fermentum lacus. Pellentesque felis lorem, convallis sed consectetur ac, malesuada sed lectus. Aliquam rutrum neque pretium, vehicula sapien non, laoreet mi. Morbi sit amet vestibulum felis. Aliquam non porta nibh. Donec elementum orci sed efficitur laoreet. Vestibulum in justo metus. Donec vitae mattis est. Donec malesuada dictum purus eu cursus. Cras vel egestas quam. Curabitur vitae hendrerit ligula, sit amet mollis odio. Sed odio nisi, iaculis in nisl sit amet, lobortis maximus turpis. In porta sodales rutrum. Pellentesque nec odio et nulla lobortis egestas.
  </p>


</div>