

{{#section "head"}}
    <link rel="stylesheet" href="/css/projects.css" />
    <title>OpenGL Clock</title>
{{/section}}
{{#section "pageTitle"}}OpenGL Clock{{/section}}
{{#section "pageUpdated"}}June 30, 2021{{/section}}
<div>
  <h1 class="projectTitle">OpenGL Clock</h1>
  <h2 class="dateCompleted"><i>Date Completed: November 6, 2020</i></h2>
  <div id="linkHolder">
      <a class="githubLink" href="https://github.com/JacobEckroth/openGL-Clock" rel="noopener noreferrer" target="_blank">
        <svg class="githubSVG logoSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
      <a class="youtubeLink" href="https://youtu.be/DsrdUbZLZVY" rel="noopener noreferrer" target="_blank">
          <svg class="youtubeSVG logoSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>
      </a>
      
  </div>
 
  <h3 class="sectionHeader">
      Intro
  </h3>
  <p class="projectText">
      During my second-year at OSU, I took CS450 (Computer Graphics) during my fall term with <a class="projectLink" href="https://eecs.oregonstate.edu/people/bailey-mike" title="Mike Bailey's Biography">Mike Bailey</a>
        who is an amazing professor, and you should take as many classes with him as physically possible.
  </p>
  <p class="projectText">
      I also took CS457 (Computer Graphics Shaders), and CS475 (Parallel Programming) with Mike. I wish I was able to take more classes with him,
      but alas I have to take bacc core (curse you OSU!!!!!)
  </p>
  <p class="projectText">
     CS450 was taught using OpenGL, and we worked in C++, although we absolutely could have done all of the projects that we completed in C.
     Some of our projects included making something cool in openGL, working with lighting, messing around with shaders, and working with line drawing algorithms.
     (Note to self, once these are on this website, they will be linked to on this page! Sorry if they're not right now).
     For our final project, we were to take all the skills that we had learned and implement them into something awesome. 
     And I think I did that successfully. 
  </p>
  <h3 class="sectionHeader">
      The Final Project
  </h3>
  <p class="projectText">
      One thing that Mike was very clear about, is that he did not want a simple analog clock. In openGL, this is as simple as drawing 2 rectangles,
      and rotating them based on the current time. However, I decided to take the clock idea, and run with it. I decided to make a 
      "digital clock", using openGL. I am very proud with how it turned out, and I'll just let you watch the video to see for yourself, but here a few really cool
      images.
  </p>
  <h3 class="sectionHeader">
      Images
  </h3>
  <p class="projectText">
      (Will insert images soon, sorry but the video is great at displaying it!)
  </p>
  <iframe class="projectVideo" src="https://www.youtube.com/embed/DsrdUbZLZVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3 class="sectionHeader">
      Conclusion
  </h3>
  <p class="projectText">
      Overall, I was very happy with how this turned out. One project that I am thinking would be pretty cool to do in the future,
      is either 3D maze generation or 3D path finding with openGL, because cubes are so easy to work with, and its as easy as making a 3d array of them.
      But until then, it's just me and my clock.
  </p>
  


</div>