

{{#section "head"}}
<link rel="stylesheet" href="/css/home.css" />
<title>Jacob's Portfolio</title>
{{/section}}
{{#section "pageTitle"}}Home Page{{/section}}
{{#section "pageUpdated"}}June 19, 2021{{/section}}
<div>
  <h1>Jacob Eckroth's Portfolio</h1>
    <p>This is my project portfolio. If you want to go to my main website, <a href="https://jacobeckroth.com" title="Main Website">click here.</a>
    <p>All that's left for you to do is start exploring my projects! You can do this by using the sidebar (or top bar if you're on mobile)</p>
    <p>Eventually I will display clickable images on this page, but this is still a very much work-in-progress website.</p>
    <p>Have fun!</p>
   <div class="card-deck">

  <div class="card" href="#">

    <img class="card-img-top cardImage" src="/images/cards/chess.png" alt="Card image cap">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="/chessPartOne" class="btn btn-primary stretched-link">Portfolio Page</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>  
    </a>
  </div>
  
</div>

</div>