

{{#section "head"}}
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/search.css" />
<link rel="stylesheet" href="/css/cards.css" />
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="/js/projectCardTemplate.js"></script>
<script type="text/javascript" src="/js/searching.js" defer></script>
<script type="text/javascript" src="/js/loadCards.js" defer></script>
<title>Jacob's Portfolio</title>
{{/section}}
{{#section "pageTitle"}}Home Page{{/section}}
{{#section "pageUpdated"}}June 19, 2021{{/section}}
<div>
  <h1>Jacob Eckroth's Portfolio</h1>
    <p>This is my project portfolio. If you want to go to my main website, <a href="https://jacobeckroth-herokuapp.com" title="Main Website">click here.</a>
    <p>All that's left for you to do is start exploring my projects! You can do this by using the sidebar (or top bar if you're on mobile)</p>
    <p>Eventually I will display clickable images on this page, but this is still a very much work-in-progress website.</p>
    <p>Have fun!</p>
  <!--  <div id="searchHolder">
        <h2 id="searchHeader">Search Projects</h2>
        <form>
            <div class="form-floating mb-3">
            <input type="email" class="form-control" id="searchProjects" placeholder="sear">
            <label for="floatingInput">Search Projects</label>
        </form>
        <div id="cardHolder" class="wrap">
            
        </div>
      
          
        
    </div>-->
   
  

</div>