

{{#section "head"}}
<title>Jacob's Portfolio</title>
{{/section}}
{{#section "pageTitle"}}Home Page{{/section}}

<div>
  <h1>Jacob Eckroth's Portfolio</h1>
  <h2>This is a smaller header</h2>
  <p>Here's some text!</p>
  
</div>