

{{#section "head"}}
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/search.css" />
<script type="text/javascript" src="/js/searching.js" defer></script>
<title>Jacob's Portfolio</title>
{{/section}}
{{#section "pageTitle"}}Home Page{{/section}}
{{#section "pageUpdated"}}June 19, 2021{{/section}}
<div>
  <h1>Jacob Eckroth's Portfolio</h1>
    <p>This is my project portfolio. If you want to go to my main website, <a href="https://jacobeckroth.com" title="Main Website">click here.</a>
    <p>All that's left for you to do is start exploring my projects! You can do this by using the sidebar (or top bar if you're on mobile)</p>
    <p>Eventually I will display clickable images on this page, but this is still a very much work-in-progress website.</p>
    <p>Have fun!</p>
    <div id="searchHolder">
        <h2 id="searchHeader">Search Projects</h2>
        <form>
            <div class="form-floating mb-3">
            <input type="email" class="form-control" id="searchProjects" placeholder="sear">
            <label for="floatingInput">Search Projects</label>
            
          
            </div>
        <div class="container">
            
                
            <div class="row row-cols-auto">
                <div class="col">
                    <button type="button" id="React" class="searchButton inactive">React</button>
                </div>
                 <div class="col">
                    <button type="button" id="JavaScript" class="searchButton inactive">JavaScript</button>
                 </div>
                 <div class="col">
                    <button type="button" id="Handlebars" class="searchButton inactive">Handlebars</button>
                 </div>
            
            
                  <div class="col">
                    <button type="button" class="searchButton inactive" id="C++">C++</button>
                </div>
                <div class="col">
                    <button type="button" id="OpenGL" class="searchButton inactive">OpenGL</button>
                </div>
                <div class="col">
                    <button type="button" id="GLSL" class="searchButton inactive">GLSL</button>
                </div>
                 <div class="col">
                    <button type="button" id="SDL" class="searchButton inactive">SDL</button>
                </div>
             </div>
               
                
            
              

                
                
               
                
            </div>    
            
           
        </div>
         <button id="resetSearch" type="button">Reset Parameters</button>
        </form>
      
        <h3 id="showingProjectsText">Showing All Projects:</h3>
          
        
    </div>
   
  

</div>