body{
    margin:0px;
    padding:0px;
}

/*
https://www.crazyegg.com/blog/website-color-palettes/
all the way down at the bottom
*/
h1{
    color:#B29050;
}
h2{
    color:#FFDFA4;
}
h3{
    color:#6085B2;
}
p{
    color:black;
}
.githubSVG:hover{
    fill:rgb(96, 96, 168); 
}
.youtubeSVG:hover{
    fill:red;
}

