#leftSideStuck{
    width:20vw;
    position:fixed;
    left:0px;
    top:0px;
    padding-left:1%;
    padding-right:1%;
    box-shadow:5px 0px 10px black;
    height:100%;
    background-color:#173F5F;
    color:#F6D55C;
    justify-content:center;
   
    display:flex;
    flex-flow:column wrap;
    text-align:left;
    z-index:1;
}

#rightSideContentHolder{
    padding-left:5%;
    padding-right:5%;
    margin-left:20vw;
    width:79vw;
    display:flex;
    flex-flow:column wrap;
    align-items:flex-start;
    justify-content: flex-start;
    text-align: left;
   
}
.dropdown{
    margin-top:20px;
}
#page-container{
    position: relative;
  min-height: 100vh;
}
#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }
#footer{
    width:100%;
    height:2.5rem;
    background-color:#223524;
    

    z-index:100;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;

    
    color:white;
    position:absolute;
    bottom:0px;
   
}

@media(max-width:1000px){
    #leftSideStuck{
        width:30vw;
    }
    #rightSideContentHolder{
        margin-left:30vw;
        width:69vw;
    }
}

.sectionHeader{
    font-size:2.5rem;
    border-top:.02rem solid rgb(116, 116, 116);
    padding-top:1rem;
    margin-top:1rem;
}